<ion-header>
  <ion-toolbar>
    <ion-title>
      <span>Detalle de Entregas</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content center>
  <ion-grid>
    <ion-row>
      <ion-col class="order-number ion-text-center">N# de Orden: {{orderId}}</ion-col>
    </ion-row>
  </ion-grid>
  <ion-list class="option-list" detail>
    <ion-item>
      <ion-label><ion-icon name="home" slot="start"></ion-icon> COVID-19 Recomendaciones</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="goToProductList()"><ion-icon name="cart" slot="start"></ion-icon> Productos a Entregar</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><ion-icon name="person" slot="start"></ion-icon> Contactar al comprador</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="footer-color">
	<ion-row>
    <ion-col class="ion-text-center ion-padding help-text" (click)="goToProductList()">EMPAQUETAR PRODUCTOS</ion-col>
  </ion-row>
</ion-footer>