<ion-header>
  <ion-toolbar>
    <ion-title>Entregas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col class="help-text ion-padding">Pincha en una orden para ver su detalle y modificar su estado</ion-col>
  </ion-row>
  <ion-grid *ngFor="let fecha of dateList">
    <ion-row>
      <ion-col class="day-header ion-text-center">{{ getLabelFecha(fecha) }}</ion-col>
    </ion-row>
    <ion-list>
      <ion-item *ngFor="let order of getListByDate(fecha)" detail>
        <ion-badge slot="start">{{ getStatusDescription(order.status) }}</ion-badge>
        <ion-label (click)="goToDetail(order.orderHeaderId)">
          N# {{ order.orderHeaderId }}
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
