<ion-content>
  <!-- LOGO -->
  <ion-grid>
    <ion-row class="ion-padding">
      <ion-col>
        <ion-img src="../../assets/ftrack.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-left ion-padding">
        <span class="login-main">Login</span><br>
        <span class="help-text">Estamos listos para acompañarte en tu venta</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-item>
          <ion-label position="stacked" class="form-label">Email</ion-label>
          <ion-input name="username" [(ngModel)]="username"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-item>
          <ion-label position="stacked" class="form-label">Clave</ion-label>
          <ion-input type="password" name="password" [(ngModel)]="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button expand="block" style="color:white" (click)="login()">Ingresar</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center help-text">
        <span>Use sus credenciales de Marketplace</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="footer-color">
	<ion-row>
    <ion-col class="ion-text-left ion-padding help-text">Olvidaste la clave</ion-col>
    <ion-col class="ion-text-right ion-padding register">Registrate</ion-col>
  </ion-row>
</ion-footer>