.register {
    color: red;
    font-weight: bold;
}

.form-label {
    color: rgb(65, 177, 41);
}

.help-text {
    color: grey;
}

.login-main {
    font-size: large;
    font-weight: bold;
}

.footer-color {
    background-color: white;
  }