<ion-header>
  <ion-toolbar>
    <ion-title>Transportando</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="order-number ion-text-center">N# de Orden: {{orderId}}</ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col class="help-text">Genera la mejor ruta con tu app de mapas favorita</ion-col>
    </ion-row>
    <ion-row class="option-list">
      <ion-col><ion-img src="../../../assets/icon/applemaps.png" width="200"></ion-img></ion-col>
      <ion-col><ion-img src="../../../assets/icon/waze.png" width="200"></ion-img></ion-col>
      <ion-col><ion-img src="../../../assets/icon/googlemaps.svg" width="200"></ion-img></ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="option-list">
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="saveStatusChange()" class="button-good-color">ENTREGADO</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="danger">PROBLEMAS EN LA ENTREGA</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
