<ion-header>
  <ion-toolbar>
    <ion-title>Empaquetando</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="order-number ion-text-center">N# de Orden: {{orderId}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="help-text">Marca los productos que empaquetes.</ion-col>
    </ion-row>
  </ion-grid>
  <ion-list *ngFor="let prod of productList">
    <ion-item>
      <ion-label>{{prod.skuDescription}}</ion-label>
      <ion-toggle [ngModel]="prod.packing" (ngModelChange)="stateChange($event, prod)"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer [class]="classFooter">
	<ion-row>
    <ion-col class="ion-text-center ion-padding" (click)="goToTransport()" [class.button-disabled]="classButton">EMPECEMOS EL TRANSPORTE</ion-col>
  </ion-row>
</ion-footer>
