.order-number {
    color: grey;
    font-weight: bold;
}

.help-text {
    color: grey;
}

.footer-color-enabled {
    background-color:rgb(65, 177, 41);
    color: white;
  }

  .footer-color-disabled {
    background-color:grey;
    color: white;
  }